.image-block{
  width: 100%;
  border-radius:24px;
  background: url("../images/Group.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:95px 0px;
  margin-top: 20px;
  color:#fff;
}

.image-bloclk___title{
  font-size: 36px;
  font-weight: 600;
  color:white;
  margin-top: 20px;
  margin-left: 30px;
}

.nav__search_1{
  width: 40%;
  margin-left: 30px;

}

/* Секция выбора */



.button-block {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;


}
.button-block li a{
  color: #828282;
}
.button-block li{
  list-style: none;
  color: #828282;
  font-size: 16px;
  padding: 10px 20px;
}
.button-block li:hover{
  border:2px solid  #FF8E3B;
  border-radius:21px;
}

.select-button{
  font-size: 16px;
  color: #828282;
  padding: 10px 20px;
}


.button-block__select{
  font-size: 16px;
  margin-left: auto;
  outline: none;
  border:none;
  color:#828282;
  background: white;
}
